/* Set Up CSS styles */

:root {
    --primary-color: #c27d6c;
    --secondary-color: #44666f;
    --tertiary-color: #79b5c4;
  }

/* apply styles to Header */
header {
padding: 20px 35px;
background-color: var(--tertiary-color);
display: flex;
justify-content: space-between;
flex-wrap: wrap;
font-family:Georgia, 'Times New Roman', Times, serif;
text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
font-style: italic;
color:#f2f2f2
}

.topnav a {
float: left;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-style: normal;
font-size: 28px;
text-shadow: none;
}

/* About Me Section */

  h2 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  * {
    box-sizing: border-box;
  }
  .column-2 {
    float: left;
    width: 45%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    height: 475px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    background-color: var(--tertiary-color);
    line-height:2;
  }

  .large-profile {
    background: url('./Headshot.jpg');
    background-size: cover;
    background-position: center;
  }

  /* Projects Section */

  /* Contact Me Section */

  /* Resume Section */